<footer class="text-left footer">
  <div class="text-left footer-text">
    <p>
        Copyright ©&nbsp;2021&nbsp;Traning system &nbsp;
        <span style="color: #738f93;">| </span>&nbsp;
        intern ruby
    </p>
  </div>
</footer>
